<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Projeto Final Mod 2 BlueEdtech</title>
</head>

<body>
    <div class="container">
        <%-include('./partials/header.ejs')%>
        <div class="content">
            <main>
                <% pcgamers.forEach(element => { %>
                <a href="/detalhes/<%= element.id %>">
                    <div class="card_conteiner">
                        <div class="header_card">
                            <span class="card_diretores">
                                <%= element.fabricante %>
                            </span>
                        </div>
                        <div class="main_card">
                            <img src="<%= element.img %>" alt="<%= element.modelo %>">
                        </div>
                        <div class="footer_card">
                            <li class="card_model">
                                <%= element.modelo %>
                            </li>
                            <li class="card_data">
                                <a id="card_trash" href="/deletar/<%= element.id %>">
                                    <img src="https://img.icons8.com/ios-filled/26/000000/waste.png" alt="Excluir" />
                                </a>

                                <a id="card_edit" href="/editar/<%= element.id %>">
                                    <img src="https://img.icons8.com/ios-glyphs/26/000000/pencil--v1.png"
                                        alt="Editar" />
                                </a>
                            </li>
                        </div>
                    </div>
                </a>
                <% }) %>
                <a href="/criar">
                    <div class="fake_card">

                        <img src="https://img.icons8.com/external-tanah-basah-glyph-tanah-basah/38/000000/external-plus-user-interface-tanah-basah-glyph-tanah-basah-2.png"
                            alt="Criar">

                    </div>
                </a>
            </main>
        </div>
        <%-include('./partials/footer.ejs')%>
    </div>
</body>
<script src="/js/modal.js">

</script>

</html>