<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>Projeto Final Mod 2 BlueEdtech</title>
</head>

<body>
    <div class="container">
        <%- include('./partials/header.ejs') %> 
    <div class="content">
        <nav id="principal-nav">              
            <li>menu interativo</li>
        </nav>
        <main>
            <% pcgamers.forEach(element => { %>
            <div class="card_conteiner">
                <div class="header_card"> 
                   <span class="card_diretores">
                        <%= element.fabricante %>
                    </span>           
                   <span class="card_ano">
                        <%= element.partnumber %>
                    </span>         
                </div>                
                <div class="main_card">
                    <img src="<%= element.img %>" alt="<%= element.modelo %>">
                </div>
                <div class="footer_card">
                    <li class="card_model">
                        <%= element.modelo %>
                    </li>
                    <li class="card_preco">
                        <%= element.preco %>
                    </li>
                </div>
            </div>
            <% }) %>
        </main>
    </div>
        <footer>barra de pesquisa fixa</footer>
    </div>
</body> 

</html>